{% extends 'shared/menu.html' %}

{% block title %}Asignar Consultorios{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/asignar_consultorios.css') }}">
<script src="{{ url_for('static', filename='js/asignar_consultorios.js') }}"></script>
<!-- Estructura del modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <h2>Asignar Consultorios</h2>
    <form id="formAsignacion">
      <label for="doctor_id">Doctor:</label>
      <select name="doctor_id" id="doctor_id" required>
        <option value="">Seleccione doctor</option>
        {% for doctor in doctores %}
          <option value="{{ doctor.id }}">{{ doctor.matricula_profesional }}</option>
        {% endfor %}
      </select>

      <label for="dia_semana">Día de la Semana (número):</label>
      <input type="number" name="dia_semana" id="dia_semana" min="1" max="7" required>

      <label for="hora_ini">Hora Inicio:</label>
      <input type="time" name="hora_ini" id="hora_ini" required>

      <label for="hora_fin">Hora Fin:</label>
      <input type="time" name="hora_fin" id="hora_fin" required>

      <label for="consultorio_id">Consultorio:</label>
      <select name="consultorio_id" id="consultorio_id" required>
        <option value="">Seleccione consultorio</option>
        {% for consultorio in consultorios %}
          <option value="{{ consultorio.id }}">{{ consultorio.nro_consultorio }}</option>
        {% endfor %}
      </select>

      <button type="submit">Asignar</button>
    </form>
    <div id="mensaje"></div>
  </div>
</div>

<!-- Tabla de Asignaciones Activas -->
<div class="table-container">
  <div class="title-button-container">
    <h2>Asignaciones Activas</h2>
    <button class="btnOpenModal" id="btnOpenModal">Asignar Consultorios</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Doctor</th>
        <th>Día Semana</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Consultorio</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody id="tablaAsignaciones">
      {% for asignacion in asignaciones %}
      <tr id="asignacion-{{ asignacion.id }}">
        <td>{{ asignacion.id }}</td>
        <td>{{ asignacion.matricula_profesional }}</td>
        <td>{{ asignacion.dia_semana }}</td>
        <td>{{ asignacion.hora_ini }}</td>
        <td>{{ asignacion.hora_fin }}</td>
        <td>{{ asignacion.nro_consultorio }}</td>
        <td>
          <button class="btnDeshabilitar" data-id="{{ asignacion.id }}">Inhabilitar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
