<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Consultas</title>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/consultas.js') }}"></script>
</head>

<body>
  <!-- Incluyendo menu desde shared -->
  {% include 'shared/menu.html' %}

  <div class="content">
    <h2>Gestión de Consultas</h2>
    <!-- Sección para la gestión de Consultas -->
    <div id="consultas" class="section">
      <div class="section-header">
        <h3>Listado de Consultas</h3>
        <button onclick="openModal()">Generar Consulta</button>
      </div>

      <!-- Modal para registrar un nuevo consulta -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h4>Crear Nueva Consulta</h4>
          <form id="consultaForm">
            <label for="paciente_id">Paciente:</label>
            <select id="paciente_id" name="paciente_id" required>
              <option value="">Seleccione un paciente</option>
            </select>

            <label for="doctor_id">Doctor:</label>
            <select id="doctor_id" name="doctor_id" required>
              <option value="">Seleccione un doctor</option>
            </select>

            <label for="consultorio_id">Consultorio:</label>
            <select id="consultorio_id" name="consultorio_id" required>
              <option value="">Seleccione un consultorio</option>
            </select>

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>

            <label for="hora_ini">Hora Inicio:</label>
            <select id="hora_ini" name="hora_ini" required>
              <option value="">Seleccione una hora</option>
            </select>

            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" required>
              <option value="C">Consulta</option>
              <option value="R">Reconsulta</option>
            </select>

            <button type="submit">Guardar</button>
          </form>
        </div>
      </div>

      <!-- Tabla para mostrar los consultas -->
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Paciente</th>
            <th>Doctor</th>
            <th>Consultorio</th>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for consulta in consultas %}
          <tr>
            <td>{{ consulta.id }}</td>
            <td>{{ consulta.paciente_nombre }}</td>
            <td>{{ consulta.doctor_nombre }}</td>
            <td>{{ consulta.nro_consultorio }}</td>
            <td>{{ consulta.fecha }}</td>
            <td>{{ consulta.hora_ini }}</td>
            <td>{{ consulta.hora_fin }}</td>
            <td>{{ consulta.tipo }}</td>
            <td>{{ consulta.estado }}</td>
            <td>{{ consulta[9] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>