<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Consultas</title>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/consultas.js') }}"></script>
</head>

<body>
  <!-- Incluyendo menu desde shared -->
  {% include 'shared/menu.html' %}

  <div class="content">
    <h2>Gestión de Consultas</h2>
    <!-- Sección para la gestión de Consultas -->
    <div id="consultas" class="section">
      <div class="section-header">
        <h3>Listado de Consultas</h3>
        <button onclick="openModal()">Reservar Consulta</button>
      </div>

      <!-- Modal para registrar un nuevo consulta -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h4>Reservar Consulta o Re-Consulta</h4>
          <form id="consultaForm">
            <label for="paciente_id">Paciente:</label>
            <select id="paciente_id" name="paciente_id" required>
              <option value="">Seleccione un paciente</option>
            </select>

            <label for="doctor_id">Doctor:</label>
            <select id="doctor_id" name="doctor_id" required>
              <option value="">Seleccione un doctor</option>
            </select>

            <label for="consultorio_id">Consultorio:</label>
            <select id="consultorio_id" name="consultorio_id" required>
              <option value="">Seleccione un consultorio</option>
            </select>

            <label for="importe">Monto:</label>
            <input type="number" id="importe" name="importe" required>

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>

            <label for="hora_ini">Hora Inicio:</label>
            <select id="hora_ini" name="hora_ini" required>
              <option value="">Seleccione una hora</option>
            </select>

            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" required>
              <option value="C">Consulta</option>
              <option value="R">Reconsulta</option>
            </select>

            <button type="submit">Reservar</button>
          </form>
        </div>
      </div>

      <!-- Tabla para mostrar los consultas -->
      {% set encabezados = ['ID', 'Paciente', 'Doctor', 'Consultorio','Monto', 'Fecha', 'Hora Inicio', 'Hora Fin', 'Tipo', 'Estado', 'Acciones'] %}
      {% set filas = [] %}
      {% for consulta in consultas %}
        {% set fila = [consulta.id, consulta.paciente_nombre, consulta.doctor_nombre, consulta.nro_consultorio,consulta.importe|int, consulta.fecha, consulta.hora_ini, consulta.hora_fin, consulta.tipo, consulta.estado] %}
        {% set acciones = [{'texto': 'Generar PDF', 'clase': 'pdf', 'funcion': 'generarPDF', 'parametros': consulta.id}] %}
        {% set fila = fila + [acciones] %}
        {% set filas = filas.append(fila) %}
      {% endfor %}
      {% include 'shared/tabla.html' %}

    </div>

  </div>
</body>

</html>