<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestionar Consultorios</title>
  <link rel="stylesheet" href="styles.css">
  <script src="../../static/js/consultorios.js"></script>
</head>

<body>
  <!-- Incluyendo menu desde shared -->
  {% include 'shared/menu.html' %}

  <div class="content">
    <h2>Bienvenido :D</h2>
    <p>Seleccione una opción del menú.</p>
    <div id="egresos" class="section">
      <div class="section-header">
        <h3>Gestión de Consultorios</h3>
        <button onclick="openModal()">Registrar Nuevo Consultorio</button>
        <button class="btn btn-edit" onclick="openEditModal()">Editar</button>
      </div>

      <!-- Modal para registrar nuevo doctor -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h4>Registrar Nuevo Consultorio</h4>
          <form id="f_nuevo_consultorio" onsubmit="event.preventDefault(); registrar_consultorio();">

            <label for="f_nro_consultorio">Nro. Consultorio:</label>
            <input type="text" id="f_nro_consultorio" name="f_nro_consultorio" required>

            <label for="f_fecha_registro">Fecha Registro:</label>
            <input type="date" id="f_fecha_registro" name="f_fecha_registro" required>

            <label for="f_estado">Estado:</label>
            <select id="f_estado" name="f_estado" required>
              <option value="A">Activo</option>
              <option value="I">Inactivo</option>
            </select>

            <button type="submit">Registrar</button>
          </form>
        </div>
      </div>

      <!-- Modal para registrar dueño -->
      <div id="editModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeEditModal()">&times;</span>
          <h4>Editar Consultorio</h4>
          <form id="f_editar_consultorio" onsubmit="event.preventDefault(); actualizar_consultorio();">
            <label for="edit_id_consultorio">Id:</label>
            <input type="number" id="edit_id_consultorio" name="edit_id_consultorio">
      
            <label for="edit_nro_consultorio">Nro. Consultorio:</label>
            <input type="text" id="edit_nro_consultorio" name="edit_nro_consultorio" required>
      
            <label for="edit_estado">Estado:</label>
            <select id="edit_estado" name="edit_estado" required>
              <option value="A">Activo</option>
              <option value="I">Inactivo</option>
            </select>
      
            <button type="submit">Actualizar</button>
          </form>
        </div>
      </div>
      
      <h3>Lista de Consultorios</h3>
      <table border="1">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nro. Consultorio</th>
            <th>Equipamento(s)</th>
            <th>Fecha Registro</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% if consultorios %}
          {% for consultorio in consultorios %}
          <tr>
            <td>{{ consultorio.id }}</td>
            <td>{{ consultorio.nro_consultorio }}</td>
            <td>{{ consultorio.equipamientos }}</td>
            <td>{{ consultorio.fecha_registro }}</td>
            <td>{{ consultorio.estado }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="6" style="text-align: center;">No hay consultorios registrados.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>

    </div>
  </div>
</body>

</html>