<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestionar Doctores</title>
  <link rel="stylesheet" href="styles.css">
  <script src="../../static/js/doctor.js"></script>
</head>

<body>
  <!-- Incluyendo menu desde shared -->
  {% include 'shared/menu.html' %}

  <div class="content">
    <h2>Gestion de doctor</h2>
    <div id="egresos" class="section">
      <div class="section-header">
        <h3>Lista de doctores</h3>
        <button onclick="openModal()">Registrar Nuevo Doctor</button>
      </div>

      <!-- Modal para registrar nuevo doctor -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h4>Registrar nuevo doctor</h4>
          <form id="nuevoDoctorForm" onsubmit="event.preventDefault(); registrarDoctor();">

            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres">
            
            <label for="p_apellido">Primer Apellido:</label>
            <input type="text" id="p_apellido" name="p_apellido">

            <label for="s_apellido">Segundo Apellido:</label>
            <input type="text" id="s_apellido" name="s_apellido">

            <label for="fecha">Fecha de nacimiento:</label>
            <input type="date" id="fecha" name="fecha" required>

            <label for="sexo">Sexo:</label>
            <select id="sexo" name="sexo" required>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>

            <label for="ci">CI:</label>
            <input type="text" id="ci" name="ci">

            <label for="email">Correo electronico:</label>
            <input type="text" id="email" name="email">

            <label for="direccion">Direccion:</label>
            <input type="text" id="direccion" name="direccion">

            <label for="matricula">Matricula profesinal:</label>
            <input type="text" id="matricula" name="matricula">
            
            <!-- Contenedor para los números de teléfono -->
            <div id="telefonosContainer">
              <label for="telefono">Teléfonos:</label>
              <input type="text" name="telefono">
            </div>
            <button type="button" onclick="agregarTelefono()">Agregar Teléfono</button>

            <!-- TODO: agregar especialidades -->
            <div id="especialidadesContainer">
              <label for="especialidad">Especialidades:</label>
              <select name="especialidad">
                {% for especialidad in especialidades %}
                <option value="{{ especialidad.id }}">{{ especialidad.descripcion }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="button" onclick="agregarEspecialidad()">Agregar Especialidad</button>

            <button type="submit">Registrar</button>
          </form>
        </div>
      </div>

      <!-- Modal para reditar datos de doctor -->
      <div id="editModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeEditModal()">&times;</span>
          <h4>Editar Doctor</h4>
          <form id="editDoctorForm" onsubmit="event.preventDefault(); editarDoctor();">

            <label for="doctor_id">Doctor ID:</label>
            <input type="number" id="doctor_id" name="doctor_id" step="0.01" required readonly>

            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres">
            
            <label for="p_apellido">Primer Apellido:</label>
            <input type="text" id="p_apellido" name="p_apellido">

            <label for="s_apellido">Segundo Apellido:</label>
            <input type="text" id="s_apellido" name="s_apellido">

            <label for="fecha">Fecha de nacimiento:</label>
            <input type="date" id="fecha" name="fecha" required>

            <label for="sexo">Sexo:</label>
            <select id="sexo" name="sexo" required>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>

            <label for="ci">CI:</label>
            <input type="text" id="ci" name="ci">

            <label for="email">Correo electronico:</label>
            <input type="text" id="email" name="email">

            <label for="direccion">Direccion:</label>
            <input type="text" id="direccion" name="direccion">

            <!-- <label for="matricula">Matricula profesinal:</label>
            <input type="text" id="matricula" name="matricula"> -->

            <button type="submit">Actualizar</button>
          </form>
        </div>
      </div>


      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Especialidad</th>
            <th>Sexo</th>
            <th>CI</th>
            <th>Matricula Profesional</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if doctores %}
          {% for doctor in doctores %}
          <tr>
            <td>{{ doctor.id }}</td>
            <td>{{ doctor.nombre }}</td>
            <td>{{ doctor.especialidad }}</td>
            <td>{{ doctor.sexo }}</td>
            <td>{{ doctor.ci }}</td>
            <td>{{ doctor.matricula_profesional }}</td>
            <td>{{ doctor.estado }}</td>

            <td>
              <button class="btn btn-edit" onclick="openEditModal('{{doctor.id}}', '{{doctor.nombres}}', '{{doctor.p_apellido}}', '{{doctor.s_apellido}}', '{{doctor.fecha_nacimiento}}', '{{doctor.sexo}}', '{{doctor.ci}}', '{{doctor.email}}', '{{doctor.direccion}}')">Editar</button>
              <button class="btn btn-edit" onclick="activar_inactivar('{{doctor.id}}', '{{doctor.estado}}')">{{ 'registrar Retiro' if doctor.estado == 'A' else 'Registrar Ingreso' }}</button>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="6" style="text-align: center;">No hay doctores registrados.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>

    </div>
  </div>
</body>

</html>