<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú Admin - Egresos</title>
  <link rel="stylesheet" href="styles.css">

  <script>
    function toggleMenu() {
      document.body.classList.toggle('menu-open');
    }
    function openModal() {
      document.getElementById('modal').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('modal').style.display = 'none';
    }

    function closeEditModal() {
      document.getElementById("editModal").style.display = "none";
    }
    function registrarEgreso() {
      let fecha = document.getElementById("fecha").value;
      let monto = document.getElementById("monto").value;
      let observacion = document.getElementById("observacion").value;
      let tipo = document.getElementById("egreso_tipo_id").value;

      fetch('/egresos/registrar', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ fecha, monto, observacion, tipo })
      })
        .then(response => response.json())
        .then(data => {
          alert(data.message);
          location.reload();
          closeModal();
          cargarEgresos();
          cargarTiposEgreso();
        })
        .catch(error => console.error('Error al registrar egreso:', error));
    }

    function openEditModal(id, fecha, monto, observacion, tipo, descartado) {
      document.getElementById('edit_id').value = id;
      document.getElementById('edit_fecha').value = fecha;
      document.getElementById('edit_monto').value = monto;
      document.getElementById('edit_observacion').value = observacion;
      document.getElementById('edit_egreso_tipo_id').value = tipo;
      document.getElementById('edit_descartado').checked = descartado;

      document.getElementById('editModal').style.display = 'block';
    }

    function editarEgreso() {
      let id = document.getElementById("edit_id").value;
      let fecha = document.getElementById("edit_fecha").value;
      let monto = document.getElementById("edit_monto").value;
      let observacion = document.getElementById("edit_observacion").value;
      let tipo = document.getElementById("edit_egreso_tipo_id").value;
      let descartado = document.getElementById("edit_descartado").checked ? 1 : 0;

      let dataToSend = {};

      if (observacion) dataToSend.observacion = observacion;
      if (monto) dataToSend.monto = monto;
      if (fecha) dataToSend.fecha = fecha;
      if (tipo) dataToSend.tipo = tipo;
      if (descartado) dataToSend.descartado = descartado;
      console.log("Enviando datos para editar:", dataToSend);

      fetch(`/egresos/editar/${id}`, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(dataToSend)
      })
        .then(response => response.json())
        .then(data => {
          console.log("Respuesta del servidor:", data);
          alert(data.mensaje);
          closeEditModal();
          location.reload();
          cargarEgresos();
          cargarTiposEgreso();

        })
        .catch(error => console.error('Error al editar egreso:', error));
    }

    function cargarEgresos() {
      fetch('/egresos/')
        .then(response => response.json())
        .then(data => {
          let tbody = document.querySelector('tbody');
          tbody.innerHTML = '';

          if (data && Array.isArray(data)) {
            data.forEach(egreso => {
              let row = document.createElement('tr');
              row.innerHTML = `
            <td>${egreso.fecha}</td>
            <td>${egreso.monto}</td>
            <td>${egreso.observacion}</td>
            <td>${egreso.egreso_tipo_id}</td>
            <td>${egreso.descartado ? 'Sí' : 'No'}</td>
            <td>
              <button class="btn btn-edit" onclick="openEditModal(
                '${egreso.id}',
                '${egreso.fecha}',
                '${egreso.monto}',
                '${egreso.observacion}',
                '${egreso.egreso_tipo_id}',
                ${egreso.descartado}
              )">Editar</button>
              <button class="btn btn-danger" onclick="descartarEgreso('${egreso.id}')">Descartar</button>
            </td>
          `;
              tbody.appendChild(row);
            });
          } else {
            let row = document.createElement('tr');
            row.innerHTML = `<td colspan="6" style="text-align: center;">No hay egresos registrados.</td>`;
            tbody.appendChild(row);
          }
        })
        .catch(error => console.error('Error al cargar egresos:', error));
    }

    function cargarTiposEgreso() {
      fetch('/egresos/tipos')
        .then(response => response.json())
        .then(data => {
          let select = document.getElementById("egreso_tipo_id");
          let editSelect = document.getElementById("edit_egreso_tipo_id");
          select.innerHTML = '';
          editSelect.innerHTML = '';

          data.forEach(egreso_tipo_id => {
            let option = document.createElement('option');
            option.value = egreso_tipo_id.id;
            option.textContent = egreso_tipo_id.descripcion;
            select.appendChild(option);

            let editOption = document.createElement('option');
            editOption.value = egreso_tipo_id.id;
            editOption.textContent = egreso_tipo_id.descripcion;
            editSelect.appendChild(editOption);
          });
        })
        .catch(error => console.error('Error al cargar tipos de egreso:', error));
    }

    document.addEventListener("DOMContentLoaded", function () {
      cargarEgresos();
      cargarTiposEgreso();
      document.getElementById('egresoForm').addEventListener('submit', event => {
        event.preventDefault();
        registrarEgreso();
      });

    });
  </script>
</head>

<body>
  <!-- Incluyendo menu desde shared -->
  {% include 'shared/menu.html' %}

  <div class="content">
    <h2>Bienvenido :D</h2>
    <p>Seleccione una opción del menú.</p>
    <div id="egresos" class="section">
      <div class="section-header">
        <h3>Gestión de Egresos</h3>
        <button onclick="openModal()">Registrar Egreso</button>
      </div>
      <!-- Modal para registrar dueño -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h4>Registrar Egreso</h4>
          <form id="egresoForm" onsubmit="event.preventDefault(); registrarEgreso();">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>

            <label for="monto">Monto:</label>
            <input type="number" id="monto" name="monto" step="0.01" required>

            <label for="observacion">Observación:</label>
            <input type="text" id="observacion" name="observacion">

            <label for="egreso_tipo_id">Tipo de Egreso:</label>
            <select id="egreso_tipo_id" name="egreso_tipo_id" required>
            </select>

            <label for="descartado">Descartado:</label>
            <input type="checkbox" id="descartado" name="descartado" value="1">

            <button type="submit">Guardar</button>
          </form>
        </div>
      </div>

      <!-- Modal para registrar dueño -->
      <div id="editModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeEditModal()">&times;</span>
          <h4>Editar Egreso</h4>
          <form id="editEgresoForm" onsubmit="event.preventDefault(); editarEgreso();">
            <input type="hidden" id="edit_id">

            <label for="edit_fecha">Fecha:</label>
            <input type="date" id="edit_fecha" name="edit_fecha" required>

            <label for="edit_monto">Monto:</label>
            <input type="number" id="edit_monto" name="edit_monto" step="0.01" required>

            <label for="edit_observacion">Observación:</label>
            <input type="text" id="edit_observacion" name="edit_observacion">

            <label for="edit_egreso_tipo_id">Tipo de Egreso:</label>
            <select id="edit_egreso_tipo_id" name="edit_egreso_tipo_id" required>
            </select>

            <label for="edit_descartado">Descartado:</label>
            <input type="checkbox" id="edit_descartado" name="edit_descartado" value="1">

            <button type="submit">Actualizar</button>
          </form>
        </div>
      </div>


      <h3>Lista de Egresos</h3>
      <table border="1">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Observación</th>
            <th>Tipo de Egreso</th>
            <th>Descartado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if egresos %}
          {% for egreso in egresos %}
          <tr>
            <td>{{ egreso.fecha }}</td>
            <td>{{ egreso.monto }}</td>
            <td>{{ egreso.observacion }}</td>
            <td>{{ egreso.egreso_tipo_id }}</td>
            <td>{{ "Sí" if egreso.descartado else "No" }}</td>
            <td>
              <button class="btn btn-edit" onclick="openEditModal(
                        '{{ egreso.id }}',
                        '{{ egreso.fecha }}',
                        '{{ egreso.monto }}',
                        '{{ egreso.observacion }}',
                        '{{ egreso.egreso_tipo_id }}',
                        '{{ egreso.descartado }}'
                    )">Editar</button>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="6" style="text-align: center;">No hay egresos registrados.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>

    </div>
  </div>
</body>

</html>