<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Admin - Inquilinos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_inquilinos.css') }}">

    <script>
        function toggleMenu() {
            document.body.classList.toggle('menu-open');
        }

        function openModal() {
            document.getElementById('modal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
        }

        function registrarInquilino() {
            let nombres = document.getElementById("nombre").value;
            let apellidos = document.getElementById("apellido").value;
            let ci = document.getElementById("ci").value;
            let telf = document.getElementById("telefono").value;
            let direccion = document.getElementById("direccion").value;

            console.log("Enviando:", { nombres, apellidos, ci, telf, direccion });  // Depuración

            fetch('/inquilinos/registrar', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ nombres, apellidos, ci, telf, direccion })
            })
                .then(response => response.json())
                .then(data => {
                    console.log("Respuesta recibida:", data);
                    alert(data.message);
                    location.reload();
                })
                .catch(error => console.error('Error:', error));
        }
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('inquilinoForm').addEventListener('submit', function (event) {
                event.preventDefault();
                registrarInquilino();
            });
        });

        function descartarInquilino(id) {
            if (confirm("¿Estás seguro de que quieres descartar este inquilino?")) {
                fetch(`/inquilinos/descartar/${id}`, { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    })
                    .catch(error => console.error('Error:', error));
            }
        }

        function cargarDatosInquilino(id, nombre, apellido, ci, telefono, direccion) {
            document.getElementById("edit_id").value = id;
            document.getElementById("edit_nombre").value = nombre;
            document.getElementById("edit_apellido").value = apellido;
            document.getElementById("edit_ci").value = ci;
            document.getElementById("edit_telefono").value = telefono;
            document.getElementById("edit_direccion").value = direccion;
            document.getElementById('editModal').style.display = 'block';
        }

        function editarInquilino() {
            let id = document.getElementById("edit_id").value;
            let nombres = document.getElementById("edit_nombre").value;
            let apellidos = document.getElementById("edit_apellido").value;
            let ci = document.getElementById("edit_ci").value;
            let telf = document.getElementById("edit_telefono").value;
            let direccion = document.getElementById("edit_direccion").value;

            fetch(`/inquilinos/editar/${id}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ nombres, apellidos, ci, telf, direccion })
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => console.error('Error:', error));
        }

    </script>
</head>

<body>
    <!-- Incluyendo menu desde partials -->
    {% include 'partials/menu.html' %}

    <div class="content">
        <h2>Bienvenido :D</h2>
        <p>Seleccione una opción del menú.</p>
        <div id="inquilinos" class="section">
            <div class="section-header">
                <h3>Gestión de Inquilinos</h3>
                <button onclick="openModal()">Registrar Inquilino</button>
            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h4>Registrar Inquilino</h4>
                    <form id="inquilinoForm">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required>
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" required>
                        <label for="ci">Número de Carnet:</label>
                        <input type="number" id="ci" name="ci" required>
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" id="telefono" name="telefono" required>
                        <label for="direccion">Dirección:</label>
                        <input type="text" id="direccion" name="direccion" required>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
            </div>

            <!-- Modal de Edición -->
            <div id="editModal" class="modal">
                <div class="modal-content">
                    <span class="close"
                        onclick="document.getElementById('editModal').style.display='none'">&times;</span>
                    <h4>Editar Inquilino</h4>
                    <form id="editInquilinoForm">
                        <input type="hidden" id="edit_id">
                        <label for="edit_nombre">Nombre:</label>
                        <input type="text" id="edit_nombre" required>
                        <label for="edit_apellido">Apellido:</label>
                        <input type="text" id="edit_apellido" required>
                        <label for="edit_ci">Número de Carnet:</label>
                        <input type="number" id="edit_ci" required>
                        <label for="edit_telefono">Teléfono:</label>
                        <input type="tel" id="edit_telefono" required>
                        <label for="edit_direccion">Dirección:</label>
                        <input type="text" id="edit_direccion" required>
                        <button class="btn" type="button" onclick="editarInquilino()">Actualizar</button>



                    </form>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>CI</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if inquilinos %}
                    {% for inquilino in inquilinos %}
                    <tr>
                        <td>{{ inquilino[1] }}</td>
                        <td>{{ inquilino[2] }}</td>
                        <td>{{ inquilino[3] }}</td>
                        <td>{{ inquilino[4] }}</td>
                        <td>{{ inquilino[5] }}</td>
                        <td>
                            <button class="btn btn-edit" onclick="cargarDatosInquilino(
                                    '{{ inquilino[0] }}', 
                                    '{{ inquilino[1] }}', 
                                    '{{ inquilino[2] }}', 
                                    '{{ inquilino[3] }}', 
                                    '{{ inquilino[4] }}', 
                                    '{{ inquilino[5] }}'
                                )">Editar</button>

                            <button class="btn btn-danger"
                                onclick="descartarInquilino('{{ inquilino[0] }}')">Descartar</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6" style="text-align: center;">No hay inquilinos registrados.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>