<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú Secretario - Pagos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_pagos.css') }}">

  <script>
    function toggleMenu() {
      document.body.classList.toggle('menu-open');
    }

    function openModal() {
      document.getElementById('modal').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('modal').style.display = 'none';
    }

    function crearDeudas() {
      // let puesto_id = document.getElementById("puesto_id").value;
      let fecha = document.getElementById("fecha").value;
      let monto = document.getElementById("monto").value;
      // let monto_interes = document.getElementById("monto_interes").value || 0.0;
      // let deuda_id = document.getElementById("deuda_id").value;

      fetch('/pagos_secre/crear_deudas', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          // puesto_id: parseInt(puesto_id),
          fecha: fecha,
          monto: parseFloat(monto)
          // monto_interes: parseFloat(monto_interes),
          // deuda_id: parseInt(deuda_id)
        })
      })
        .then(response => response.json())
        .then(data => {
          alert(data.message);
          location.reload();
        })
        .catch(error => console.error('Error:', error));
    }

    function registrar_pago(deuda_id, deuda_monto, deuda_interes) {
      fetch(`/pagos_secre/registrar_pago/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ deuda_id: deuda_id, deuda_monto: deuda_monto, deuda_interes: deuda_interes })
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert('Pago registrado exitosamente');
            window.open(`/pagos_secre/reporte/${deuda_id}`, '_blank');
            location.reload();
          } else {
            alert('Error al registrar el pago');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Error al registrar el pago');
        });
    }


    document.addEventListener("DOMContentLoaded", function () {
      document.getElementById('pagoForm').addEventListener('submit', function (event) {
        event.preventDefault();
        crearDeudas();
        closeModal();
      });
    });
  </script>
</head>

<body>
  <!-- Incluyendo menu desde partials -->
  {% include 'partials/menu.html' %}
  
  <div class="content">
    <h2>Bienvenido :D</h2>
    <p>Seleccione una opción del menú.</p>
    <!-- Sección para la gestión de pagos -->
    <div id="pagos" class="section">
      <div class="section-header">
        <h3>Gestión de Pagos</h3>
        <button onclick="openModal()">Generar Deuda General</button>
      </div>
      <!-- Modal para registrar un nuevo pago -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h4>Crear deuda para todos los puestos</h4>
          <form id="pagoForm">
            <!-- <label for="puesto_id">Puesto ID:</label>
            <input type="number" id="puesto_id" name="puesto_id" required> -->
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
            <label for="monto">Monto:</label>
            <input type="number" id="monto" name="monto" step="0.01" required>
            <!-- <label for="monto_interes">Monto de Interés:</label> -->
            <!-- <input type="number" id="monto_interes" name="monto_interes" step="0.01"> -->
            <!-- <label for="deuda_id">Deuda ID:</label>
            <input type="number" id="deuda_id" name="deuda_id" required> -->
            <button type="submit">Guardar</button>
          </form>
        </div>
      </div>
      <!-- Tabla para mostrar los pagos -->
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Nro de Puesto</th>
            <th>Dueño de puesto</th>
            <th>Monto</th>
            <th>Interes por mora</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for deuda in deudas %}
          <tr>
            <td>{{ deuda[0] }}</td>
            <td>{{ deuda[1] }}</td>
            <td>{{ deuda[3] }}</td>
            <td>{{ deuda[4] }}</td>
            <td>{{ "{:,.2f}".format(deuda[2]) }}</td>
            <td>{{ deuda[6] }}</td>
            <td><button onclick="registrar_pago('{{ deuda[0] }}', '{{ deuda[2] }}', '{{ deuda[6] }}')">Registrar
                Pago</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>