<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Admin</title>
    <link rel="stylesheet" href="styles.css">

    <script>
        function toggleMenu() {
            document.body.classList.toggle('menu-open');
        }
        function openModal() {
            document.getElementById('modal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            document.getElementById('editModal').style.display = 'none';
        }
        function registrarPuesto() {
            let numero = document.getElementById("numero").value;
            let asociacion = document.getElementById("asociacion").value;
            let gremio = document.getElementById("gremio").value;
            let sector = document.getElementById("sector").value;
            let puesto_estado = document.getElementById("puesto_estado").value;
            let dueno = document.getElementById("dueno").value;
            let inquilino = document.getElementById("inquilino").value;

            fetch('/puestos/registrar', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ numero, asociacion, gremio, sector, dueno, inquilino })
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    actualizarTablaPuestos();
                    closeModal();
                })
                .catch(error => console.error('Error:', error));
        }
        function cargarDatosSelects() {
            // Cargar las opciones de asociación, gremio, sector, dueño e inquilino
            fetch('/puestos/datos_selects')
                .then(response => response.json())
                .then(data => {
                    // Cargar asociaciones
                    let asociacionSelect = document.getElementById("asociacion");
                    let editAsociacionSelect = document.getElementById("edit_asociacion");
                    data.asociaciones.forEach(asociacion => {
                        let option = document.createElement("option");
                        option.value = asociacion.id;
                        option.text = asociacion.descripcion;
                        asociacionSelect.appendChild(option);
                        editAsociacionSelect.appendChild(option.cloneNode(true));
                    });

                    // Cargar gremios
                    let gremioSelect = document.getElementById("gremio");
                    let editGremioSelect = document.getElementById("edit_gremio");
                    data.gremios.forEach(gremio => {
                        let option = document.createElement("option");
                        option.value = gremio.id;
                        option.text = gremio.descripcion;
                        gremioSelect.appendChild(option);
                        editGremioSelect.appendChild(option.cloneNode(true));
                    });

                    // Cargar sectores
                    let sectorSelect = document.getElementById("sector");
                    let editSectorSelect = document.getElementById("edit_sector");
                    data.sectores.forEach(sector => {
                        let option = document.createElement("option");
                        option.value = sector.id;
                        option.text = sector.descripcion;
                        sectorSelect.appendChild(option);
                        editSectorSelect.appendChild(option.cloneNode(true));
                    });

                    // Cargar dueños
                    let duenoSelect = document.getElementById("dueno");
                    let editDuenoSelect = document.getElementById("edit_dueno");
                    data.dueños.forEach(dueno => {
                        let option = document.createElement("option");
                        option.value = dueno.id;
                        option.text = dueno.nombres;
                        duenoSelect.appendChild(option);
                        editDuenoSelect.appendChild(option.cloneNode(true));
                    });

                    // Cargar inquilinos
                    let inquilinoSelect = document.getElementById("inquilino");
                    let editInquilinoSelect = document.getElementById("edit_inquilino");
                    data.inquilinos.forEach(inquilino => {
                        let option = document.createElement("option");
                        option.value = inquilino.id;
                        option.text = inquilino.nombres;
                        inquilinoSelect.appendChild(option);
                        editInquilinoSelect.appendChild(option.cloneNode(true));
                    });
                })
                .catch(error => console.error('Error al cargar datos de selects:', error));
        }
        document.addEventListener("DOMContentLoaded", function () {
            cargarDatosSelects();
            document.getElementById('puestoForm').addEventListener('submit', function (event) {
                event.preventDefault();
                registrarPuesto();
            });
        });

        function cargarDatosPuesto(id, numero, asociacion, gremio, sector, dueno, inquilino) {
            document.getElementById("edit_id").value = id;
            document.getElementById("edit_numero").value = numero;

            let editAsociacionSelect = document.getElementById("edit_asociacion").value;
            editAsociacionSelect = asociacion;

            let editGremioSelect = document.getElementById("edit_gremio").value;
            editGremioSelect.value = gremio;

            let editSectorSelect = document.getElementById("edit_sector").value;
            editSectorSelect.value = sector;

            let editDuenoSelect = document.getElementById("edit_dueno").value;
            editDuenoSelect.value = dueno;

            let editInquilinoSelect = document.getElementById("edit_inquilino").value;
            editInquilinoSelect.value = inquilino;

            document.getElementById('editModal').style.display = 'block';
        }

        function editarPuesto() {
            let id = document.getElementById("edit_id").value;
            let numero = document.getElementById("edit_numero").value;
            let asociacion = document.getElementById("edit_asociacion").value;
            let gremio = document.getElementById("edit_gremio").value;
            let sector = document.getElementById("edit_sector").value;
            let dueno = document.getElementById("edit_dueno").value;
            let inquilino = document.getElementById("edit_inquilino").value;

            fetch(`/puestos/editar/${id}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ numero, asociacion, gremio, sector, dueno, inquilino })
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    actualizarTablaPuestos();
                    closeModal();
                })
                .catch(error => console.error('Error:', error));
        }

        function actualizarTablaPuestos() {
            fetch('/puestos/listar')  // Ruta que devuelve los puestos en formato JSON
                .then(response => response.json())
                .then(data => {
                    console.log('Datos recibidos:', data);
                    const tabla = document.getElementById("puestos-lista");
                    tabla.innerHTML = "";  // Limpiar la tabla antes de agregar los nuevos datos

                    if (data.puestos.length === 0) {
                        tabla.innerHTML = "<tr><td colspan='8' style='text-align: center;'>No hay puestos registrados.</td></tr>";
                    } else {
                        data.puestos.forEach(puesto => {
                            let row = document.createElement("tr");
                            row.innerHTML = `
                        <td>${puesto.numero}</td>
                        <td>${puesto.asociacion}</td>
                        <td>${puesto.gremio}</td>
                        <td>${puesto.sector}</td>
                        <td>${puesto.estado}</td>
                        <td>${puesto.dueno}</td>
                        <td>${puesto.inquilino || "No asignado"}</td>
                        <td>
                            <button class="btn btn-edit" onclick="cargarDatosPuesto(
                                    '${puesto.id}', 
                                    '${puesto.numero}', 
                                    '${puesto.asociacion}', 
                                    '${puesto.gremio}', 
                                    '${puesto.sector}',
                                    '${puesto.estado}',  
                                    '${puesto.dueno}', 
                                    '${puesto.inquilino}'
                                )">Editar</button>
                        </td>
                    `;
                            tabla.appendChild(row);
                        });
                    }
                })
                .catch(error => console.error('Error al actualizar la tabla de puestos:', error));
        }
    </script>
</head>

<body>
    <!-- Incluyendo menu desde shared -->
    {% include 'shared/menu.html' %}

    <div class="content">
        <h2>Bienvenido :D</h2>
        <p>Seleccione una opción del menú.</p>
        <div id="puestos" class="section">
            <div class="section-header">
                <h3>Gestión de Puestos</h3>
                <button onclick="openModal()">Registrar Puesto</button>
            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h4>Registrar Puesto</h4>
                    <form id="puestoForm">
                        <input type="hidden" id="id">
                        <label for="numero">Numero del Puesto:</label>
                        <input type="number" id="numero" name="numero" placeholder="Número del puesto" required>

                        <label for="asociacion">Asociación:</label>
                        <select id="asociacion" name="asociacion" required>
                        </select>

                        <label for="gremio">Gremio:</label>
                        <select id="gremio" name="gremio" required>
                        </select>

                        <label for="sector">Sector:</label>
                        <select id="sector" name="sector" required>
                        </select>
                        <input type="hidden" id="puesto_estado" value="Atendiendo">

                        <label for="dueno">Dueño:</label>
                        <select id="dueno" name="dueno" required>
                        </select>

                        <label for="inquilino">Inquilino:</label>
                        <select id="inquilino" name="inquilino">
                        </select>

                        <button type="submit" id="boton-guardar">Guardar</button>
                    </form>
                </div>
            </div>

            <!-- Modal de Edición -->
            <div id="editModal" class="modal">
                <div class="modal-content">
                    <span class="close"
                        onclick="document.getElementById('editModal').style.display='none'">&times;</span>
                    <h4>Editar Puesto</h4>
                    <form id="editPuestoForm">
                        <input type="hidden" id="edit_id">

                        <label for="edit_numero">Numero del Puesto:</label>
                        <input type="text" id="edit_numero" required>

                        <label for="edit_asociacion">Asociación:</label>
                        <select id="edit_asociacion" required>
                            <!-- Opciones de asociaciones -->
                        </select>

                        <label for="edit_gremio">Gremio:</label>
                        <select id="edit_gremio" required>
                            <!-- Opciones de gremios -->
                        </select>

                        <label for="edit_sector">Sector:</label>
                        <select id="edit_sector" required>
                            <!-- Opciones de sectores -->
                        </select>

                        <label for="edit_dueno">Dueño:</label>
                        <select id="edit_dueno" name="edit_dueno" required>
                            <!-- Opciones de dueños se cargarán aquí dinámicamente -->
                        </select>

                        <label for="edit_inquilino">Inquilino:</label>
                        <select id="edit_inquilino" name="edit_inquilino">
                            <!-- Opciones de inquilinos -->
                        </select>

                        <button class="btn" type="button" onclick="editarPuesto()">Actualizar</button>
                    </form>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Numero del Puesto</th>
                        <th>Asociación</th>
                        <th>Gremio</th>
                        <th>Sector</th>
                        <th>Estado</th>
                        <th>Dueño</th>
                        <th>Inquilino</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="puestos-lista">
                    {% if puestos %}
                    {% for puesto in puestos %}
                    <tr>
                        <td>{{ puesto[1] }}</td>
                        <td>{{ puesto[2] }}</td>
                        <td>{{ puesto[3] }}</td>
                        <td>{{ puesto[4] }}</td>
                        <td>{{ puesto[5] }}</td>
                        <td>{{ puesto[6] }}</td>
                        <td>{{ puesto[7] }}</td>
                        <td>
                            <button class="btn btn-edit" onclick="cargarDatosPuesto(
                                    '{{ puesto[0] }}', 
                                    '{{ puesto[1] }}', 
                                    '{{ puesto[2] }}', 
                                    '{{ puesto[3] }}', 
                                    '{{ puesto[4] }}',
                                    '{{ puesto[6] }}',
                                    '{{ puesto[7] }}'
                                )">Editar</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6" style="text-align: center;">No hay puestos registrados.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html