<!-- templates/shared/tabla.html -->
<table>
    <thead>
        <tr>
            {% for encabezado in encabezados %}
                <th>{{ encabezado }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% if filas %}
            {% for fila in filas %}
                <tr>
                    {% for columna in fila[:-1] %}
                        <td>{{ columna }}</td>
                    {% endfor %}
                    <td>
                        {% if fila[-1] %}  <!-- Verifica si hay acciones -->
                            {% for accion in fila[-1] %}
                                <button class="btn btn-{{ accion.clase }}" onclick="{{ accion.funcion }}('{{ accion.parametros }}')">{{ accion.texto }}</button>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="{{ encabezados|length }}" style="text-align: center;">No hay datos disponibles.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
 